* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.margin{
    margin-top: 70px;
}
body {
    background: #F5F5F5;
    margin: auto;
    max-width: 1300px;
}
li{
    list-style: none;
}
/*navbar*/
.navbar {
    background: rgba(217, 217, 217, 0.5);
    display: flex;
    padding: 30px 0;
    justify-content: space-around;
    align-items: center;

    margin: auto;
}

.logo-grid {
    position: relative;
    display: flex;

}

.p {
    position: absolute;
    bottom: 5px;
}

.p-1 {
    position: absolute;
    top: 13px;
}

.p-2 {
    position: absolute;
    top: 15px;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: #282828;
    font-size: 22px;
    font-weight: 500;
    margin-left: 40px;
}

.list {
    display: flex;
    gap: 40px;

}

.list li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #282828;

}

.more {
    margin-left: 5px;
    margin-bottom: 2px;
}

.nav-button-grid {
    display: flex;
    gap: 40px;
}

.login-btn {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background: transparent;
}

.demo-btn {
    color: #ffffff;
    background: #2A0896;
    border-radius: 30px;
    width: 196px;
    height: 50px;
    border: none;
    cursor: pointer;
}

/*home*/
.home-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 100px;
    gap: 10px;
    max-width: 1200px;
}

.home-section h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    color: #282828;
    font-size: 70px;
    line-height: 92px;
}

.bold {
    font-weight: 700;
}

.home-section p {
    color: rgba(40, 40, 40, 0.7);
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;

}

.home-section button {
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.home-btn-grid {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.home-btn-grid button {
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    margin-bottom: 5px;

}

.icon-shadow {
    background: rgba(42, 8, 150, 0.28);
    border-radius: 50%;
    padding-bottom: 5px;

}

.home-btn-grid img {
    background: #2A0896;
    display: flex;
    padding: 10px 13px;
    border-radius: 50%;
    font-size: 14px;

    align-items: center;
    cursor: pointer;
    object-fit: cover;
}

/*index*/
.inbox-background {
    height: 538px;
    background: linear-gradient(90.51deg, #87CEFA 3.78%, #2A0896 96.65%);
    border-radius: 30px;
    transform: rotate(7.43deg);
    width: 100%;
    left: 0;
    position: absolute;
    margin-top: 50px;

}

.inbox-section {
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 1130px;
    height: 562px;
    display: flex;
    margin: auto;
    justify-content: center;
    position: relative;
    padding: 30px 50px;
}

.inbox-left {
    margin-top: 10px;
}

.charles {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 20px;
}

.drop-down {
    background: #D9D9D9;
    border-radius: 10px;
    justify-content: flex-end;
    display: flex;
    padding: 0 8px;
    width: 207px;
    color: #6D6767;
    height: 15px;
    cursor: pointer;
    margin-bottom: 30px;
}

.inbox-icon-text {
    display: flex;
    color: #2397F3;
    gap: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin-top: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.inbox-icon-text img {
    width: 17px;
    height: 17px;

}

.dropdown-grid {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.empty-drop-down {
    background: #D9D9D9;
    border-radius: 10px;
    width: 164px;
    height: 15px;
}

.line {
    border-left: 1.5px solid #AAA6A6;
    margin-left: 20px;
}

.index-right {
    flex: 1;
    padding-left: 30px;
}

.title {
    display: flex;
    color: #2397F3;
    margin-bottom: 25px;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.title img {
    width: 25px;
    height: 25px;

}

.title p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 400;
}

.order-filter-grid {
    margin-top: 15px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    gap: 40px;
}

.order-filter-grid p {
    font-size: 14px;
    margin-top: 3px;
}

.order-filter-grid button {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    background: #2397F3;
    border-radius: 3px;
    padding: 2px 10px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

.gray-btn {
    color: #4C4848 !important;
    background: #C5C2C2 !important;
}

.orders {
    display: flex;
    gap: 10px;
}

.filters {
    display: flex;
    gap: 10px;
}

.sections {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.single-section {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 42px;
    align-items: center;
}

.single-section p {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
}

.single-section-2 {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: 59px;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.avatar {
    background: #49C496;
    color: #FFFFFF;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-section-2 div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.single-section-2 p {
    color: #8E8787;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;

}

.single-section-2 img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.single-section-2 p {
    padding-right: 100px;
}

.phone-icon {
    padding: 8px 16px;
    color: #FFFFFF;
    background: #2397F3;
    border-radius: 40px;
    align-items: center;
    margin-right: 170px;
    font-size: 12px;
}

.phone-icon img {
    width: 16px;
    height: 16px;

}

/*review sections*/
.review-grid {
    padding-top: 150px;
    max-width: 894px;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 40px;
    align-items: center;
    position: relative;
}

.review-sections {
    position: relative;
}

.review-section-1 {
    width: 406px;
    height: 316px;
    background: rgba(255, 255, 255, 0.54);
    box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
    border-radius: 30px;
    padding: 30px;

}

.review-section-2 {
    width: 406px;
    height: 288px;
    background: rgba(157, 134, 209, 0.15);
    box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
    border-radius: 30px;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -9999;
}

.review-stars {
    width: 295px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: #EFEFEF;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 5px 16px;
    margin: 0 20px;
}

.review-person {
    display: flex;
    align-items: center;
    margin: 30px auto;
    justify-content: center;
    gap: 15px;
}


.review-person img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;

}

.review-person div h6 {
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.review-person div p {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif;
}

.review-section-1-line {

    background: #D9D9D9;
    border-radius: 10px;
    width: 336px;
    height: 11px;
    margin-top: 70px;
}

.review-text-grid {
    max-width: 400px;
}

.review-text-grid h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    color: #282828;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.review-text-grid p {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    max-width: 282px;
}

/*toolss*/
.tools-grid {
    padding-top: 120px;
    max-width: 894px;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 40px;
    align-items: center;
}

.tools-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*max-width: 400px;*/
}

.tools-text h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    color: #282828;
    font-family: 'Poppins', sans-serif;
}

.tools-text p {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif;
}

.tools-sections {
    position: relative;
}

.tools-section-1 {
    width: 406px;
    height: 316px;
    background: rgba(255, 255, 255, 0.54);
    box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
    border-radius: 30px;
    padding: 30px;
    position: relative;
}

.tools-section-2 {
    width: 406px;
    height: 288px;
    background: rgba(157, 134, 209, 0.15);
    box-shadow: -30px 30px 30px rgba(40, 40, 40, 0.05);
    border-radius: 30px;
    position: absolute;
    z-index: -9999;
    top: -30px;
    right: -30px;
}

.tools-circle-grid {
    background: #EFEFEF;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 291px;
    height: 65px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.blue-circle {
    background: #2A0896;
    width: 49px;
    height: 49px;
    border-radius: 50%;
}

.double-color-line {
    width: 175px;
    border-top: 3px solid;
    border-radius: 2px;
    border-image: linear-gradient(to right, #3A0CA3 5%, rgba(58, 12, 163, 0.3) 75%) 2;
    margin-bottom: 10px;
}

.drop-2 {
    background: #D9D9D9;
    border-radius: 10px;
    width: 164px;
    height: 11px;
}

.wave img {
    width: 236px;
    position: absolute;

}

.graph-grid {
    margin-top: 50px;
}

.graph-grid img {
    margin-left: 10px;
    width: 29px;
}

.setting-grid {
    position: absolute;
    right: 20px;
    top: 180px;
}

.circle-1 {
    position: absolute;
    left: 16px;
    top: 16px;
}

.setting-2 {
    position: absolute;
    left: 44px;
    top: -31px
}

.circle-2 {
    position: absolute;
    left: 16px;
    top: 16px;
}

/*experience*/
.message-1 {
    background: #EFEFEF;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 265px;
    height: 80px;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 8px;
    position: relative;
}

.message-line-1 {
    background: #D9D9D9;
    border-radius: 10px;
    width: 164px;
    height: 12px;

}

.message-line-2 {
    background: #D9D9D9;
    border-radius: 10px;
    width: 226px;
    height: 12px;
}

.message-line-3 {
    background: #D9D9D9;
    border-radius: 10px;
    width: 178px;
    height: 12px;
}

.message-img {
    position: absolute;
    left: -77px;
    top: 31px;
    width: 58px;
    height: 58px;
}

.arrow-left {
    position: absolute;
    left: -17px;
    top: 67px;
}

.message-img-1 {
    position: absolute;
    right: -80px;
    bottom: -10px
}

.arrow-right {
    position: absolute;
    right: -18px;
    bottom: -1px;
}

/*collaboration teams*/
.collaboration-grid {
    display: flex;
    margin: 100px auto;
    justify-content: center;
    padding: 50px 10px;
    width: 1160px;
    height: 581px;
    background: #DDE9FF;
    border-radius: 30px;
    align-items: center;
}

.collaboration-text {
    max-width: 500px;
}

.collaboration-text h1 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    margin-bottom: 30px;
    color: #000000
}

.collaboration-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    max-width: 395px;
    font-family: 'Poppins', sans-serif;
}

.collaboration-inbox {
    background: rgba(255, 255, 255, 0.67);
    backdrop-filter: blur(9px);
    width: 562px;
    height: 400px;
    border-radius: 12px;
    padding: 20px;
}

.title-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-inbox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title-inbox img {
    width: 16px;
    height: 16px;
}

.title-inbox p {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 25px;
    color: #2397F3;
}

.logo-grid-inbox {
    position: relative;
    display: flex;
    /*align-items: center;*/
}

.logo-grid-inbox h2 {
    font-size: 17px;

}

.inbox-p {
    top: 4px;
    width: 23px;
    position: absolute;

}

.inbox-p-2 {
    top: 16px;
    height: 16px;
    position: absolute;
}

.inbox-p-1 {
    position: absolute;
    height: 12px;
    top: 14px;
}

.line-2 {
    margin-top: 20px;
    color: #AAA6A6;
}

.order-filter-grid-2 {
    margin-top: 15px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    /*gap: 40px;*/
}

.order-title {
    font-size: 12px;
    margin-right: 5px;
}

.order-filter-grid-2 button {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    background: #2397F3;
    border-radius: 3px;
    padding: 2px 6px;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

.order-filter-grid-2 div {
    display: flex;
    align-items: center;

}

.filter-title {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 5px;
}

.health-sections {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.title-section {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: -2.52641px 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    height: 26px;
    align-items: center;
}

.title-section p {
    font-size: 12px;
}

.main-health-section {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: -7.79716px 7px 23px rgba(142, 135, 135, 0.6);
    border-radius: 8px;
    height: 59px;
    display: flex;
    align-items: center;
    width: 607px;
    position: absolute;
    left: -25px;
    margin-top: 40px;
    /*margin-bottom: 20px;*/
}

.main-health-section p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #8E8787;
}

.main-health-section div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-health-section div img {
    width: 32px;
    height: 32px;
}

.phone-icon-2 {
    padding: 6px 12px;
    color: #FFFFFF;
    background: #2397F3;
    border-radius: 40px;
    margin-right: 120px;
    font-size: 12px;
    margin-left: 50px;
}

.phone-icon-2 img {
    width: 12px !important;
    height: 12px !important;
}

.single-section-3 {
    background: #FFFFFF;
    box-shadow: -6.31604px 6px 18px rgba(142, 135, 135, 0.2);
    border-radius: 6px;
    width: 500px;
    height: 37px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.single-section-3 div img {
    width: 23px;
    height: 23px;
}

.single-section-3 div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.single-section-3 p {
    color: #8E8787;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}

/*trial-section*/
.trial-section {
    width: 1160px;
    height: 378px;
    background: #D9DEEF;
    border-radius: 30px;
    display: flex;
    margin: auto;
    justify-content: center;
    position: relative;

}

.top-bg {
    position: absolute;
    left: 0;
}

.top-bg img {
    border-radius: 30px 0;
}

.bottom-bg {
    position: absolute;
    bottom: -4px;
    right: 0;

}

.bottom-bg img {
    border-radius: 30px 0;
}

.trial-data {
    display: flex;
    align-items: center;
}

.trial-image {
    width: 371px;
}

.trial-image img {

}

.trial-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 710px;
    align-items: center;
    text-align: center;
}

.trial-text h2 {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;

}

.trial-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    max-width: 584px;
}

.trial-text button {
    font-size: 20px;
    line-height: 50px;
    background: #4482C2;
    border-radius: 30px;
    border: none;
    padding: 0 28px;
    color: #FFFFFF;
}

/*Footer*/
.footer {
    width: 100%;
    background: #2A0896;
    /*height: 417px;*/
    margin-top: 120px;
    padding-bottom: 20px;
}

.footer-grid {
    padding: 100px 80px;
    color: #FFFFFF;
    display: flex;
    margin: auto;
    justify-content: space-around;
    /*align-items: center;*/
}

.footer-logo {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-left: 50px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-left-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    max-width: 287px;
}

.socials {
    display: flex;
    gap: 15px;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-middle div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-middle div img {
    width: 20px;
    height: 20px;
}

.footer-middle div p {
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.footer-right input {
    background: #FFFFFF;
    border-radius: 30px;
    width: 301px;
    height: 50px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}

.footer-right p {
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
}

.footer-right div {
    display: flex;
    align-items: center;
}

.letter {
    width: 50px;
    height: 50px;
    background: #2A52BE;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

.product-grid {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 20px;
    gap: 50px;

}

.product-grid p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;

}

.footer-copy {
    display: flex;
    padding: 10px;
    color: #FFFFFF;
    margin: 10px auto;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.footer-copy img {
    width: 14px;
    height: 14px;
}

.footer-copy p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
